h1{
	 color: red;
	 font-size: 3em;
	 text-align: center;
}
img{
	 float: center;
}

figure{ text-align: center;

}

ul{ border: 3px blue solid;
	box-shadow: 6px 6px 2px red;

}
 a:hover{ font-weight: bold; }